@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif";
  --font-righteous: "Righteous", "sans-serif";
}

.low_life_blood_splash {
  box-shadow: inset 0 0 30px rgba(190, 0, 0, 0.7);
}

input[type="checkbox"][name="dontshowguide"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  width: 15px;
  height: 15px;
  border: 1.5px solid #0a9c00;
  border-radius: 3px;
  position: relative;
}

input[type="checkbox"][name="dontshowguide"]::after {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90%;
  height: 90%;
  -webkit-clip-path: polygon(
    14% 44%,
    0 65%,
    50% 100%,
    100% 16%,
    80% 0%,
    43% 62%
  );
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  background-color: white;
  display: none;
}

input[type="checkbox"][name="dontshowguide"]:checked {
  background-color: #0a9c00;
}

input[type="checkbox"][name="dontshowguide"]:checked::after {
  display: initial;
}
