@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/** {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}*/

body {
	background-color: #252525;
	color: white;
}

/*#container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: relative;
}

canvas {
	border: 1px solid white;
	background-color: #191919;
}

#screens-container {
	position: absolute;
}

.game-screen {
	width: 100%;
	height: 100%;
	color: white;
}

.screens {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
*/
.title {
	font: bold 3rem "Righteous", sans-serif;
	text-transform: uppercase;
}

#logo-container {
	width: 25rem;
}

#logo {
	width: 100%;
	height: 100%;
}

/*.menu {
	margin-top: 3rem;
}

.menu-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
*/
.btn-default {
	/*width: 208px;
	padding: 9px 0;
	margin: 0 2rem;*/
/*	cursor: pointer;*/
/*	text-transform: uppercase;*/
	font-family: 'Inter', sans-serif;
	/*border: none;
	border-radius: 12px;
	box-shadow: 0px 3px 0px #808080;
	transition: .2s all;*/
}

/*.btn-default:hover {
	color: #424242;
	box-shadow: 0px 0px 0px #808080;
	transform: translateY(2px);
	background-color: #ebebeb;
}

#hud-screen,
#die-screen,
#pause-screen {
	display: none
}

#start-container,
#die-container,
#pause-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#start-container {
	padding: 7rem 0;
	justify-content: space-between;
	height: 100%;
}

#start-container .menu {
	margin-top: 0;
}

#start-container .menu-container {
	flex-direction: row;
}

#credits-container p {
	margin-top: 10px;
	text-align: center;
}

#die-container,
#pause-container {
	justify-content: center;
	background-color: rgba(0,0,0, .6);
}*/

#hud-container {
	width: 100%;
	height: 70px;
	padding: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#weapon-icon {
	width: 60px;
	height: 60px;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .15);
	overflow: hidden;
}

#weapon-icon-img {
	transform: rotateZ(-45deg);
}

#status-container {
	padding: 0 0 0 5px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	height: 100%;
}

.bar-container {
	position: relative;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: #616161;
}

.bar-amount {
	width: 100%;
	height: 100%;
	transition: .5s all;
}

.bar-point-container {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bar-point {
	border-left: 1.5px solid black;
	border-right: 1.5px solid black;
	width: 100%;
	height: 100%;
}

#health-container {
	width: 220px;
	height: 25px;
}

#health {
	background: rgb(191,0,0);
	background: linear-gradient(0deg, rgba(191,0,0,1) 0%, rgba(251,0,0,1) 50%, rgba(191,0,0,1) 100%);
}

#inventory-status {
	padding-top: 5px;	
}

#inventory-status {
	font: 15px 'monospace', sans-serif;
	letter-spacing: 2px;
}


/*#popup-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);

	display: none;
	justify-content: center;
	align-items: center;
}

#popup {
	width: 500px;
	height: 400px;
	background-color: grey;
	border: 1px solid white;
	padding: 10px;
	position: relative;
}

#popup-content {
	font-family: 'Arial', sans-serif;
	color: white;
	height: 100%;
}

#popup-title {
	font: 600 2rem 'Inter', sans-serif;
}

#popup-alert {
	font-weight: bold;
	color: rgba(255, 0, 0, .5);
	margin: 5px 0;
}

#game-description {
	color: #f2f2f2;
	margin: 10px 0;
}

.about-links {
	padding: 7px 10px;
	text-decoration: none;
	color: white;
	cursor: pointer;
}

#repo-link {
	background-color: darkslateblue;	
}

#report-bug {
	background-color: #660000;
}

#bottom-nav {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 10px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#credits-link {
	font-weight: 600;
}

#credits-link:hover {
	text-shadow: 0 0 2px black;
	color: darkcyan;
}

#closePopupBtn {
	padding: 5px 15px;
	background-color: red;
	border: 1px solid darkred;
	color: white;
	font-size: 16px;
	cursor: pointer;
}
*/



