@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
	background-color: #252525;
	color: white;
}

.title {
	font: bold 3rem "Righteous", sans-serif;
	text-transform: uppercase;
}

#logo-container {
	width: 25rem;
}

#logo {
	width: 100%;
	height: 100%;
}

.btn-default {
	font-family: 'Inter', sans-serif;
}

#hud-container {
	height: 70px;
	padding: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#status-container {
	padding: 0 0 0 5px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	height: 100%;
}

#health-container {
	width: 100px;
	margin-top: 5px;
	height: 21px;
	background-color: #999;
	border-top: 1.5px solid black;
	border-bottom: 1.5px solid black;
	position: relative;
}

#health-amount {
	width: 100%;
	height: 100%;
	background-color: red;
}

#health-bar {
	display: flex;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.health-points {
	width: 10px;
	height: 100%;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#inventory-status {
	padding-top: 5px;	
}

#inventory-status {
	font: 15px 'monospace', sans-serif;
	letter-spacing: 2px;
}

#souls-amount {
	text-shadow: 0px 0px 5px rgba(0, 0, 0, .8);
}



