@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
	background-color: #252525;
	color: white;
}

.title {
	font: bold 3rem "Righteous", sans-serif;
	text-transform: uppercase;
}

#logo-container {
	width: 25rem;
}

#logo {
	width: 100%;
	height: 100%;
}

.btn-default {
	font-family: 'Inter', sans-serif;
}

#hud-container {
	height: 70px;
	padding: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/*#weapon-icon {
	width: 60px;
	height: 60px;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .15);
	overflow: hidden;
}

#weapon-icon-img {
	transform: rotateZ(-45deg);
}
*/
#status-container {
	padding: 0 0 0 5px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	height: 100%;
}

.bar-container {
	position: relative;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: #616161;
}

.bar-amount {
	width: 100%;
	height: 100%;
	transition: .5s all;
}

.bar-point-container {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bar-point {
	border-left: 1.5px solid black;
	border-right: 1.5px solid black;
	width: 100%;
	height: 100%;
}

#health-container {
	width: 220px;
	height: 25px;
}

#health {
	background: rgb(191,0,0);
	background: linear-gradient(0deg, rgba(191,0,0,1) 0%, rgba(251,0,0,1) 50%, rgba(191,0,0,1) 100%);
}

#inventory-status {
	padding-top: 5px;	
}

#inventory-status {
	font: 15px 'monospace', sans-serif;
	letter-spacing: 2px;
}



